extends ../layouts/main-layout.pug

include ../mixins/editProduct.pug


block content
    .row
        if products[0]
            table.table              
                thead
                    tr
                        th(scope="col") #
                        th(scope="col") Ürün Adı
                        th(scope="col") Fiyat
                        th(scope="col") Açıklama
                        th(scope="col") 
                tbody                    
                    each product in products               
                        +editProduct(product)
        else 
            h1 Ürün yok  
    