extends ../layouts/main-layout.pug


block content
    h1 Giriş Yap
    if errorMessage
        div.alert.alert-danger.col-sm-5.pr-0 #{errorMessage}
    if successMessage 
        div.alert.alert-success.col-sm-5.pr-0 #{successMessage}
    form(action="/login" method="POST")
        include ../includes/csrf.pug
        .label(for="email") Email:
        br
        input(type="text" id="email" name="email")
        br
        .label(for="password") Parola:
        br
        input(type="password" id="password" name="password")
        br
        br
        input.btn.btn-success(type="submit" value="Giriş yap") 
        a(href='/reset-password').btn.btn-link Parolamı Unuttum