extends ../layouts/main-layout.pug

block content
    if errorMessage
        div.alert.alert-danger.col-sm-5.pr-0 #{errorMessage}
    form(action="/new-password" method="POST")
        include ../includes/csrf.pug
        input(type="hidden" name="userId" value=`${userId}`)
        input(type="hidden" name="passwordToken" value=`${passwordToken}`)
        
        .label(for="email") Parola:
        br
        input(type="password" id="password" name="password")
        br
        input.btn.btn-success(type="submit" value="Gönder")