extends ../layouts/main-layout.pug

block content
    if errorMessage
        div.alert.alert-danger.col-sm-5.pr-0 #{errorMessage}
    form(action="/reset-password" method="POST")
        include ../includes/csrf.pug
        .label(for="email") Email:
        br
        input(type="text" id="email" name="email")
        br
        input.btn.btn-success(type="submit" value="Gönder")