.ul.list-group
    li.list-group-item.active(aria-current="true") Tüm kategoriler
    li.list-group-item kategori1
    li.list-group-item kategori2
    li.list-group-item kategori3
    li.list-group-item kategori4
