<!doctype html>
html(lang="en")
    
    include ../includes/head.pug

    body
        
        include ../includes/navbar.pug 

        .container(style="padding-top: 100px;")
            .row
                block content
   
    include ../includes/script