extends layouts/main-layout.pug

include mixins/createProduct.pug

block content
    .row
        if !products.lenght
            table.table              
                thead
                    tr
                        th(scope="col") #
                        th(scope="col") Ürün Adı
                        th(scope="col") Fiyat
                        th(scope="col") Açıklama
                        th(scope="col") 

                tbody                    
                    each product in products               
                        +createProduct(product)
        else 
            h1 Ürün yok #{products.lenght}      
                    
            